body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #000;
	main {
		padding: 40px 0;
	}
	.linkedin {
		display: block;
		@include sprite($linkedin);
    	margin: 0 0 0 auto;
	}
	.row {
		margin: 0;
	}
	#banner-main {
	    height: 735px;
	    background-position: center;
	    border-bottom: none;
	    position: relative;
	    p {	    	
			position: absolute;
    		top: 35%;
    		max-width: 600px;
    		text-transform: uppercase;
		    font-size: 4em;
		    font-family: 'DINEngschriftStd';
		    color: #fff;
	    }
	    .destaque {
	    	display: inline-block;
	    	z-index: 2;
	    	position: relative;
	    	padding: 0 10px;
	    	&:before {
	    		content: '';
	    		display: block;
	    		position: absolute;
	    		left: 0;
	    		width: 100%;
	    		height: 100%;
	    		filter: alpha(opacity=40);
				-moz-opacity: 0.40;
				opacity: 0.4;
				zoom: 1;
				z-index: -1;
	    	}
	    	
			&.pink:before {
		    	background: #ad077f;
		    }
		    &.yellow:before {
		    	background: #ff9300;
		    }
		    &.green:before {
		    	background: #00932b;
		    }
	    }
	}
	.carousel-indicators {
		display: none;
	}
	.row-icons{
		position: absolute;
		bottom: 0;
	    width: 100%;
	    z-index: 4;
		ul {
			list-style: none;
			display: flex;
			justify-content: center;
			padding: 20px 0;
			margin: 0;
			.icon-1, .icon-2, .icon-3, .icon-4, .icon-5, .icon-6 {
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					text-decoration: none;
					i {
						display: block;
						margin: 0 5px;
					}
					strong {
						color: #fff;
						font-family: 'DINEngschriftStd';
						text-transform: uppercase;
						font-size: 12px;
						font-weight: normal;
					}
				}
				
			}
			.icon-1 {
				i {
					@include sprite($seguranca);
				}
			}
			.icon-2 {
				i{
					@include sprite($vantagem);
				}
			}
			.icon-3 {
				i{
					@include sprite($agil);
				}
			}
			.icon-4 {
				i {
					@include sprite($qualidade);
				}
			}
			.icon-5 {
				i{
					@include sprite($disponibilidade);
				}
			}
			.icon-6 {
				i {
					@include sprite($especialistas);
				}
			}
		}
	}
	.phrases {
		.call {
			font-size: 22px;
			font-family: 'Lato-Black';
			color: #b82890;
			text-transform: uppercase;
			margin-bottom: 25px;
		}		
		.text {
			p {
				margin-bottom: 27px;
				font-size: 16px;
			}
		}
	}
	.vantagens {
		display: flex;
		align-items: baseline;
    	flex-wrap: wrap;
		.clinic, .radio {
			padding: 0;
		}
		.clinic {
			padding-right: 50px;
		}
		.call {
			font-size: 22px;
			font-family: 'Lato-Black';
			color: #ffffff;
			background-color: #00932b;
			text-transform: uppercase;
			margin-bottom: 25px;
			padding: 5px 20px;
		}
		.text {
			li {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	body {
		.vantagens .clinic {
			padding-right: 0;
		}
		.container {
			padding: 0 15px;
		}
	}
}
@media screen and (max-width: 767px) {
	body {
		#banner-main {
			height: 475px;
			p {
				font-size: 2.5em;
			}
		}
		.row-icons {
			position: initial;
			background-color: #002384;
			ul {
				flex-wrap: wrap;
				li {
					a {
						margin: 10px
					}
				}
			}
		}
	}
}