@font-face {
    font-family: 'Lato';
    src: url('/src/fontes/lato-regular.ttf') format("ttf"), 
    url('/src/fontes/lato-regular.woff2') format("woff2"), 
    url('/src/fontes/lato-regular.woff') format("woff");
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('/src/fontes/lato-black.ttf') format("ttf"), 
    url('/src/fontes/lato-black.woff2') format("woff2"), 
    url('/src/fontes/lato-black.woff') format("woff");
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('/src/fontes/lato-bold.ttf') format("ttf"), 
    url('/src/fontes/lato-bold.woff2') format("woff2"), 
    url('/src/fontes/lato-bold.woff') format("woff");
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Heavy';
    src: url('/src/fontes/lato-heavy.ttf') format("ttf"), 
    url('/src/fontes/lato-heavy.woff2') format("woff2"), 
    url('/src/fontes/lato-heavy.woff') format("woff");
    font-weight: normal;
}
@font-face {
    font-family: 'DINEngschriftStd';
    src: url('/src/fontes/dinengschriftstd.ttf') format("ttf"),
    url('/src/fontes/dinengschriftstd.eot') format("eot"),
    url('/src/fontes/dinengschriftstd.woff') format("woff");
    font-weight: normal;
}
