footer {
	background-image: url('/img/footer-bg.jpg');
	min-height: 214px;
	display: block;
	color: #fff;
	.container {
		align-items: center;
		padding: 45px 0 50px 0;
	}
	.logo {
		a {
			display: block;
			@include sprite($logo);
		}
		p {
			padding-left: 45px;
			padding-top: 10px;
			span {
				display: block;
				text-transform: uppercase;
				font-size: 9px;
				line-height: 11px;
				font-family: 'Lato-bold';
			}
		}
	}
	.contato {
		.email {
			text-align: right;
			display: block;			
			color: #fff;
			justify-content: flex-end;
			font-family: 'DINEngschriftStd', sans-serif;
			font-size: 22px;
			.icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
				@include sprite($contato);
			}
			span {
				display: inline-block;
				vertical-align: middle;
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.linkedin {
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 767px) {
	footer {
		.logo a {
			margin: 0 auto;
		}
		.contato {
			.email {
				text-align: center;
				margin: 30px 0;
			}
			.linkedin {
				margin: 0 auto;
			}
		}
	}
}