// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$agil-name: 'agil';
$agil-x: 0px;
$agil-y: 101px;
$agil-offset-x: 0px;
$agil-offset-y: -101px;
$agil-width: 52px;
$agil-height: 51px;
$agil-total-width: 285px;
$agil-total-height: 203px;
$agil-image: '/img/sprite.png';
$agil: (0px, 101px, 0px, -101px, 52px, 51px, 285px, 203px, '/img/sprite.png', 'agil', );
$contato-name: 'contato';
$contato-x: 243px;
$contato-y: 20px;
$contato-offset-x: -243px;
$contato-offset-y: -20px;
$contato-width: 29px;
$contato-height: 22px;
$contato-total-width: 285px;
$contato-total-height: 203px;
$contato-image: '/img/sprite.png';
$contato: (243px, 20px, -243px, -20px, 29px, 22px, 285px, 203px, '/img/sprite.png', 'contato', );
$disponibilidade-name: 'disponibilidade';
$disponibilidade-x: 52px;
$disponibilidade-y: 101px;
$disponibilidade-offset-x: -52px;
$disponibilidade-offset-y: -101px;
$disponibilidade-width: 52px;
$disponibilidade-height: 51px;
$disponibilidade-total-width: 285px;
$disponibilidade-total-height: 203px;
$disponibilidade-image: '/img/sprite.png';
$disponibilidade: (52px, 101px, -52px, -101px, 52px, 51px, 285px, 203px, '/img/sprite.png', 'disponibilidade', );
$especialistas-name: 'especialistas';
$especialistas-x: 104px;
$especialistas-y: 101px;
$especialistas-offset-x: -104px;
$especialistas-offset-y: -101px;
$especialistas-width: 52px;
$especialistas-height: 51px;
$especialistas-total-width: 285px;
$especialistas-total-height: 203px;
$especialistas-image: '/img/sprite.png';
$especialistas: (104px, 101px, -104px, -101px, 52px, 51px, 285px, 203px, '/img/sprite.png', 'especialistas', );
$linkedin-name: 'linkedin';
$linkedin-x: 204px;
$linkedin-y: 0px;
$linkedin-offset-x: -204px;
$linkedin-offset-y: 0px;
$linkedin-width: 81px;
$linkedin-height: 20px;
$linkedin-total-width: 285px;
$linkedin-total-height: 203px;
$linkedin-image: '/img/sprite.png';
$linkedin: (204px, 0px, -204px, 0px, 81px, 20px, 285px, 203px, '/img/sprite.png', 'linkedin', );
$logo-small-name: 'logo-small';
$logo-small-x: 204px;
$logo-small-y: 20px;
$logo-small-offset-x: -204px;
$logo-small-offset-y: -20px;
$logo-small-width: 39px;
$logo-small-height: 39px;
$logo-small-total-width: 285px;
$logo-small-total-height: 203px;
$logo-small-image: '/img/sprite.png';
$logo-small: (204px, 20px, -204px, -20px, 39px, 39px, 285px, 203px, '/img/sprite.png', 'logo-small', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 204px;
$logo-height: 101px;
$logo-total-width: 285px;
$logo-total-height: 203px;
$logo-image: '/img/sprite.png';
$logo: (0px, 0px, 0px, 0px, 204px, 101px, 285px, 203px, '/img/sprite.png', 'logo', );
$qualidade-name: 'qualidade';
$qualidade-x: 0px;
$qualidade-y: 152px;
$qualidade-offset-x: 0px;
$qualidade-offset-y: -152px;
$qualidade-width: 52px;
$qualidade-height: 51px;
$qualidade-total-width: 285px;
$qualidade-total-height: 203px;
$qualidade-image: '/img/sprite.png';
$qualidade: (0px, 152px, 0px, -152px, 52px, 51px, 285px, 203px, '/img/sprite.png', 'qualidade', );
$seguranca-name: 'seguranca';
$seguranca-x: 52px;
$seguranca-y: 152px;
$seguranca-offset-x: -52px;
$seguranca-offset-y: -152px;
$seguranca-width: 52px;
$seguranca-height: 51px;
$seguranca-total-width: 285px;
$seguranca-total-height: 203px;
$seguranca-image: '/img/sprite.png';
$seguranca: (52px, 152px, -52px, -152px, 52px, 51px, 285px, 203px, '/img/sprite.png', 'seguranca', );
$vantagem-name: 'vantagem';
$vantagem-x: 104px;
$vantagem-y: 152px;
$vantagem-offset-x: -104px;
$vantagem-offset-y: -152px;
$vantagem-width: 52px;
$vantagem-height: 51px;
$vantagem-total-width: 285px;
$vantagem-total-height: 203px;
$vantagem-image: '/img/sprite.png';
$vantagem: (104px, 152px, -104px, -152px, 52px, 51px, 285px, 203px, '/img/sprite.png', 'vantagem', );
$spritesheet-width: 285px;
$spritesheet-height: 203px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($agil, $contato, $disponibilidade, $especialistas, $linkedin, $logo-small, $logo, $qualidade, $seguranca, $vantagem, );
$spritesheet: (285px, 203px, '/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
