header {
	position: relative;
	&:before, &:after {
		content: '';
	    display: block;
	    position: absolute;
	    width: 100%;
	    background-color: #0b287a;
	    opacity: 0.4;
	    z-index: 3;
	}
	&:before {
	    height: 70px;
	}
	&:after {
	    height: 90px;
	    bottom: 0;
	}
	.container {
		display: flex;
		align-items: center;
	}
	#header {
		padding: 10px 0;
		position: absolute;
	    width: 100%;
	    z-index: 4;
		#logo {
			margin: 0;
			a {
				margin-right: 15px;
				display: block;
				font-size: 0;
				@include sprite($logo-small);
			}
		}
		.menu {
			.hamburguer {
				display: none;
				margin-right: 20px;
				span {
					display: block;
					width: 20px;
					height: 3px;
					background-color: #fff;
					margin-bottom: 3px;
				}

			}
			.nav {
				li {
					a {
						color: #fff;
						font-family: 'DINEngschriftStd';
						text-transform: uppercase;
						font-size: 15px;
    					background-color: transparent;
						&:hover {
							background: transparent;
						}
					}
				}
			}
		}
		.linkedin {
			order: 3;
		}
	}
	
}
@media screen and (max-width: 767px) {
	header {
		#header {
			#logo {
				order: 2;
			}
			.menu {
				order: 1;
				 .nav {
					display: none;
				}
				.hamburguer {
					display: block;
					cursor: pointer;
				}
				&.active {
					.hamburguer {
						span:first-child {
							transform: rotate(45deg);
							position: relative;
	    					top: 6px;
						}
						span:nth-child(2) {
							transform: rotate(-45deg);
						}
						span:last-child {
							display: none;
						}
					}
					.nav {
						display: block;
					    position: absolute;
					    top: 70px;
					    background: #3d5eaa;
					    width: 100%;
					    height: auto;
					    margin: 0 -15px;
					    padding: 20px 0;
					}
				}
			}
		}
		&:after {
			display: none;
		}
	}
}